
.picker{
    margin-bottom: 1rem !important;
}

.contentFilter{
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
    z-index: 9999;
    width: 16rem;
    padding: auto;
}

.button{
    width: 14rem;
    margin-top: 1rem !important;
}
